
.logo{
  align-items: center;
  display: flex;
}
.logo img{
  max-width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid var(--theme-border);
  font-size: 18px;
  padding: 0px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navigation .link.active {
  background-color: #eee;
  border-radius: 5px;
}
.navigation .link {
  padding: 10px;
}


